ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.login {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.register{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #111;
}

/*导航栏的 登录 注册 选项靠右侧显示*/
ul span {float:right}


span.head1 {font-size:30px; margin:10px; line-height:70px;}

img { float:left;}

div.head { border-style:solid;background-color:#A0FFE6; white-space:nowrap; height:70px;width:1263px;}