    {% extends'base.html' %}

    <html>
    <head>
        {% block head %}
            {% block title %}
            <title>Information</title>
            {% endblock %}
            {% block style %}
                <link rel="stylesheet" href="{{ url_for('static', filename='home1.css') }}">
            {% endblock %}
        {% endblock %}
    </head>
    <body>
    {% block content %}
    <ul>
        <li><a href="{{ url_for('homepage1')}}">主页</a></li>
        <li><a href="{{ url_for('information') }}">资料</a></li>
        <li><a href="{{ url_for('homepage')   }}">Old home</a></li>
        <li><a href="#about">关于</a></li>
    <span>
        <li><a class ="login" href="login">登录</a></li>
        <li><a class ="register" href="register">注册</a></li>
    </span>
</ul>

    <div class="" style="background-color:#FFFFDD;">
        </br>
        <h5>Recommended : 《星之海洋》</h5>
        <h6>关于这本小说：</h6>
        <p>《星之海洋》是一部星际战争题材小说，作者charlesp。动荡的大时代已经过去了半个世纪，人类一边重建家园，一边无休止的与自己的平行世界——天界激烈斗争，全然不顾不远的星空中，已经出现了新的威胁。大时代已经成为历史，成为过去，新的大时代即将来临。</p>
        <p>主角：黄而，多重性格，很复杂，你可以说他是枭雄、伟人、救世者，也可以说他是屠夫、刽子手、负罪前行者、亲手毁掉自己幸福的人，总之，一两句话是绝对说不完的。</p>
        <p>郭光，黄而好友，讲义气，一直在猪脚的身边。</p>
        <p>谭康，黄而“好友”，不是很可靠，关键时刻总是……</p>
        <p>巴斯克·冰，阿冰冰儿，主角在三星认识的好兄弟。</p>
        <p>和主角有关的女子（按出场顺序）</p>
        <p>罗盈：只在开头出现，算是黄而的初恋，不过接受不了主角的不求进取及害怕黄而的能力，最终导致其封印自己的能力，创造第二人格。</p>
        <p>寒寒（内藤寒子）：黄而的第一任女友，终身的伙伴。从大学到主角归隐一直不遗余力的帮助他，感觉更像他的姐姐，所以两人根本不来电，关系只到牵手接吻的地步，很快就分手了，中期嫁给了猪脚的好哥们巴斯克·冰</p>
        <p>御道洋子：黄而的下属，暗恋主角，后来和主角同居了一段时间，但主角却对她没有感情，最后在尼布楚救了主角，最后死于自己最后的追求。</p>
        <p>渚烟，主角在大学时认识的朋友，苦恋黄而，但只被当成妹妹，也是由于她的父亲打压猪脚，才使猪脚走上称霸的路线，最后死得比较凄惨。</p>
        <p>Ferrari（赵影），黄而的第一任妻子，原是猪脚的上司，后来发展成未婚妻，还未来得及结婚，猪脚就被陷害远走三星，中间发生很多事，分分合合几次，中期时因为费里亚入侵地球，死在核弹之下，而这枚核弹却是主角为了拯救地球授意释放的。</p>
        <p>陈琪，应该算是第一女主角，黄而的爱人，因为种种原因没能一直陪在他身边，总是分分合合，最后死于中毒，葬于太空。</p>
        <p>浅野由利加，黄而的第二任妻子，但是和他只是利益和欲望关系，死于太空激战。</p>
        <p>风萝，灵界在地球的代理人，负责和黄而接头，和黄而属于一定意义上的伙伴关系，最后死于黄而的手上。</p>
    </div>
    {% endblock %}
</body>



    </html>